@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet');

body {
	background: url('championsleague.jpg');
	background-repeat: no-repeat;
	
	color: #E7413C;
}

button {
	all: inherit;
	font-size: 1.25em;
	border: 4px #FFF300;
	border-radius: 0.25em;
	padding: 1em;
	cursor: pointer;
}

button:hover {
	background: #E7413C;
	color: white;
}

button:active{
	border-color: white;
}

h1 {
	color: white;
	font-size: 4em;
}

p {
	font-size: 1.25em;
	margin: 0;
}

#container {
	max-width: 960px;
	margin: 0 auto;
}

#interface {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

button#start {
	margin-left: auto;
	margin-right: 1em;
}

.answers {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.option {
	font-size: 2em;

    border: 8px white;
    border-radius: 0.5em;
    background: black;
    color: white;
    
    flex-basis: 300px;
    height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: background-color 200ms ease-in;
}

.option:hover {
	background-color: gray;
}

.option.correct-answer {
	border-color: green;
}

.option.wrong-answer {
	border-color: red;
}