@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Mono&display=swap');

body {
	background-color: #0B006C;
	font-family: 'PT Sans', sans-serif;
	color: white;
}

button {
	all: inherit;
	font-size: 1.25em;
	border: 2px #FFF300;
	border-radius: 0.25em;
	padding: 0.25em;
	cursor: pointer;
}

button:hover {
	background: #FFF300;
	color: #0B006C;
}

button:active{
	border-color: white;
}

button.disable{
	display: none;
}

h1 {
	color: white;
}

p {
	font-size: 1.25em;
	margin: 0;
}

#container {
	max-width: 720px;
	margin: 0 auto;
}

#interface {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

button#start {
	margin-left: auto;
	margin-right: 1em;
}

.option {
	font-size: 2em;

    border: 8px white;
    border-radius: 0.5em;
    background: #0B006C;
    color: white;
    
    flex-basis: 150px;
    height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: background-color 200ms ease-in;
}

.option:hover {
	background-color: #008074;
}

.option.correct-answer {
	border-color: green;
}

.option.wrong-answer {
	border-color: red;
}